#nav-sidebar {
  float: left;
  width: 12%;
  height: 88vh;
  /* background-color: #f5f4e9; */
  padding: 0px !important;
  /* pls add shadows later */
}
#nav-sidebar-list {
  width: 100%;
  border-style: none;
  padding-top: 50px !important;
  display: flex;
  flex-direction: column;
}
.nav-item {
  border-style: none;
  border-width: 1px;
  padding: 8px !important;
  padding-left: 30px !important;
}
.nav-item:hover,
.nav-item:active {
  width: 100%;
  color: var(--black) !important;
  padding: 8px !important;
  font-size: 20px;
}
.nav-item-active,
.nav-item-active:active,
.nav-item-active:hover {
  width: 125%;
  color: var(--white) !important;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
  padding: 8px !important;
  font-size: 26px;
}
.div-add-item {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}
.div-add-item button {
  float: left;
  padding: 15px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(49, 179, 49);
}
.div-add-item button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-image: none;
}
.div-add-cat {
  float: left;
  padding-left: 18px;
  padding-top: 18px;
}
.div-add-cat button {
  float: left;
  padding: 15px;
  font-size: 14px;
  border: none;
  color: white;
  background-color: rgb(98, 98, 252);
}
.div-add-cat button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-image: none;
}
a {
  color: black;
  text-decoration: none !important;
}
a:hover {
  font-weight: bold;
}
table {
  float: left;
  width: 100%;
  padding: 20px;
  border-collapse: collapse;
}
th {
  padding: 10px;
  border-bottom: 1px solid rgb(207, 207, 207);
}
td {
  padding: 10px;
  text-align: center;
  border-width: thin;
  border-bottom: 0.5px solid rgb(207, 207, 207);
}
.tr:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-weight: 500;
}
.card-main {
  margin-left: 20px;
  margin-top: 20px;
  background-color: white;
  float: left;
  width: 80%;
  height: 70%;
  padding: 10px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-main-button {
  background-color: lightgray;
  padding: 9px;
  border: none;
  border-radius: 10px;
  width: 140px;
}
.card-main-button:hover {
  background-color: transparent;
}
.card-edit-button {
  /* color: #43bb63; */
  width: 50px;
  color: white;
  padding: 10px;
  border: none;
  background-color: rgb(98, 98, 252);
}
.card-edit-button:hover {
  /* background-color: #EDECDF; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-delete-button {
  color: white;
  padding: 10px;
  border: none;
  background-color: #fb3640;
}
.card-delete-button:hover {
  /* background-color: #EDECDF; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-view-button {
  color: gray;
  padding: 10px;
  border: none;
  background-color: transparent;
}
.card-view-button:hover {
  background-color: #edecdf;
}
.list-label {
  float: left;
  width: 30%;
  padding: 10px;
}
.search-input {
  float: left;
  width: 30%;
  padding: 10px;
}
.search-input input {
  background-color: #f4f3f3;
  padding: 10px;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 10px;
}
.search-input input:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.search {
  background-color: #edecdf;
  border: transparent;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
}
.search:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 10px;
}
.div-product-td {
  float: left;
  padding: 1px;
  width: 210px;
  overflow: auto;
}
.div-edit-td {
  float: left;
  padding: 1px;
  width: 100px;
  overflow: auto;
}
.div-product-td p {
  padding: 10px;
}
.td-avail {
  color: #43bb63;
  font-weight: 500;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-container {
  float: left;
  width: 100%;
  height: 200px;
  padding: 3px;
  margin: 2px;
  overflow: auto;
}
.modal-textarea {
  height: 100%;
  width: 100%;
}
.modal-input {
  float: left;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px;
}
.edit-modal-input {
  float: left;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #43bb63;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px;
}
.modal-button {
  padding: 10px;
  border: none;
  margin: 2px;
}
.modal-button-add {
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(49, 179, 49);
}
.modal-button-add:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-content {
  float: left;
  position: absolute;
  height: 500px;
  left: 25%;
  top: 2;
  background-color: #fefefe;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
  /* border-radius: 15px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
}
.modal-content-global {
  float: left;
  position: absolute;
  left: 25%;
  top: 2;
  background-color: #fefefe;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
  /* border-radius: 15px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.content-left {
  float: left;
  width: 50%;
}
.content-right {
  float: right;
  width: 45%;
  height: 100px;
  overflow: auto;
}
.content-full {
  float: left;
  width: 100%;
}
.close-modal {
  float: right;
  padding: 10px;
  position: relative;
  color: #fb3640;
  border: none;
  background-color: transparent;
}
.close-modal:hover {
  background-color: #edecdf;
}
.button-mid {
  float: left;
  position: relative;
  top: 5px;
  left: 40%;
}
.button-mid button {
  margin-left: 1px;
  margin-right: 1px;
}
.text-center {
  text-align: center;
}
.li-50 {
  float: left;
  width: 100px;
  overflow: auto;
}
.h-20 {
  float: left;
  width: 200px;
  overflow: auto;
  margin-bottom: 10px;
}
.td-10 {
  width: 100px;
  overflow: auto;
}
.h-30 {
  float: left;
  padding-top: 30px;
}
.li-10 {
  margin-bottom: 2px;
}
.modal-div-right {
  float: right;
  width: 100%;
  padding: 10px;
  height: 300px;
  overflow: auto;
}
.modal-div-right li {
  padding: 10px;
}
.info {
  border: none;
  background-color: transparent;
}
.info:hover {
  background-color: #edecdf;
}
.view {
  width: 600px;
  overflow: auto;
}
.h1-view:hover {
  font-weight: 500;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* NEW CSS */

.listCateg {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100%;
  overflow-y: scroll;
}

.listCateg::-webkit-scrollbar {
  width: 0.3em;
}

.listCateg::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}

.listCateg::-webkit-scrollbar-thumb {
  background-color: #83a73b;

  border-radius: 1em;
}

.listRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  max-width: 90%;
  padding: 2%;
  border-bottom: 2px solid #888;
  margin-top: 5%;
  text-align: center;
}

.listBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
