

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" /> -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>CRM System</title>
</head>

<body>
    <div class="sidenavbar">

        <mat-sidenav-container autosize>
            <mat-sidenav class="sidenav" #drawer mode="side" opened="true">
                <img src="../assets/logo.png" class="inventory-logo">

                <button mat-button class="sidebarcontent" routerLink="/crm"><mat-icon class="dashboard">dashboard</mat-icon> Tables</button>
                <button mat-button class="sidebarcontent" routerLink="/dining"><mat-icon class="stocks">event_seat</mat-icon> Dining</button>
                <!-- <button mat-button class="sidebarcontent" routerLink="/itemHistory"><mat-icon class="itemHistory">print</mat-icon>Generate Report</button> -->
            </mat-sidenav>
            <mat-sidenav-content>
                <div>
                    <mat-toolbar color="primary" class="navbar">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
                          <mat-icon>menu</mat-icon>
                      </button>
                        <span>Customer Reception Management System</span>
                        <span class="example-spacer"></span>

                        <h3 class="admin-name">Hello! <span id="name"></span></h3>

                        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                          <mat-icon>person</mat-icon>
                      </button>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" type="button" (click)="logout()">
                        <mat-icon>logout</mat-icon>
                    </button>
                    </mat-toolbar>
                </div>

                <div id = "header" class="container-fluid">

                    <h1>Dining Hall</h1>
                
                </div>
                
                <div class="tablesCon">
   
                    <div class="tables">
                
                        <div *ngFor="let tables of tables" style="display: block;"(click)="editForm(tables); orderReserveModal(contentOrderReserve);" >
                
                
                                   
                            <div *ngIf="tables?.status_id == 1 ">
                            <div id ="box-{{ tables?.status_id }}" class = "box"  >
                            <h2>    {{ tables?.table_name }} </h2>
                                
                                <div *ngIf="tables?.status_id == 1">
                                  <p>  Availability:  <span class="av"> Available </span></p>
                                </div>
                               
                                <p>Capacity: {{tables?.table_capacity}}</p>
                                <p id="status{{ tables?.status_id }}"></p>
                            </div>
                            </div>

                            <div *ngIf=" tables?.status_id == 3">
                                <div id ="box-{{ tables?.status_id }}" class = "box" style="border-top: 3px solid hsl(34, 97%, 64%);" >
                                <h2>    {{ tables?.table_name }} </h2>
                                    
                                 
                                    <div *ngIf="tables?.status_id == 3">
                                      <p>  Availability:  <span style="color: hsl(0, 78%, 62%);
                                        font-weight: 450;">  Reserved </span> </p>
                    
                                    </div>
                                    <p>Capacity: {{tables?.table_capacity}}</p>
                                    <p id="status{{ tables?.status_id }}"></p>
                                </div>
                                </div>



                            <div *ngIf="tables?.status_id == 2">
                                <div id ="box-{{ tables?.status_id }}" class = "box">
                                   <h2> {{ tables?.table_name }} </h2>
                              
                                     <p>  Availability: <span class="oc"> Occupied </span></p>
                                    <p id="status{{ tables?.status_id }}"></p>
                                    <p>Capacity: {{tables?.table_capacity}}</p>
                                </div>
                                </div>
                           
                        </div> 
                    </div>
                
                </div>

            </mat-sidenav-content>
        </mat-sidenav-container>
        
    </div>

     <!--EDIT MODAL-->

<ng-template #contentOrderReserve let-modal class=" modalFade">
    <mat-dialog-content>
    <div class="modal-header">
      <h4 class="modal-title"><b>Actions</b></h4>
      <button type="button" class="close" aria-label="Close" mat-dialog-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h4><B>TABLE NAME</B>: {{ tblInfo.table_name1 }}</h4><br>
        <div *ngIf="tblInfo.status_id1 == 1">
            <h4><B>STATUS</B>: AVAILABLE</h4>
        </div>
        <div *ngIf="tblInfo.status_id1 == 3">
            <h4><B>STATUS</B>: RESERVED</h4>
        </div>


    </div>
    <div class="modal-footer">
        
            <button *ngIf="tblInfo.status_id1 == 3" type="button" class="btn btn-warning" (click)="checkoutTable()" mat-dialog-close>Cancel Reservation</button>


            <button *ngIf="tblInfo.status_id1 == 1" type="button" class="btn btn-info" (click)="reserveTable()" mat-dialog-close>Reserve Table</button><br>

            <button type="button" class="btn btn-success" (click)="getOrder()" mat-dialog-close>Take Order</button>


    </div>

  </mat-dialog-content>
  </ng-template>


<!--Checkout MODAL-->

<ng-template #contentCheckout let-modal class=" modalFade">
    <mat-dialog-content>
    <div class="modal-header">
    <button type="button" class="close" aria-label="Close" mat-dialog-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Checkout {{ tblInfo.table_name1 }}?</h4>
    </div>
    <div class="modal-footer">
    <form>
            <button type="button" class="btn btn-danger" mat-dialog-close>No</button>
            <button type="button" class="btn btn-success" (click)="checkoutTable()" mat-dialog-close>Yes</button>
    </form>
    </div>

</mat-dialog-content>
</ng-template>
</body>