.example-spacer {
  flex: 1 1 auto;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
}

.itemHistory {
  margin-left: -13%;
  margin-right: 10px;
}
mat-dialog-content {
  width: 350px;
}
mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
  background-color: #fbfbfb;
}

mat-sidenav {
  padding: 0px;
  background-color: whitesmoke;
  color: #404040;
}

mat-sidenav {
  width: 240px;
}

.admin-name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.dashboard {
  margin-left: -75px;
  margin-right: 10px;
}

.orders {
  margin-left: -100px;
  margin-right: 10px;
}

.stocks {
  margin-left: -100px;
  margin-right: 10px;
}

.supply {
  margin-left: -100px;
  margin-right: 10px;
}

.inventory-logo {
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 185px;
  height: 70px;
}

.sidenavbar {
  height: 100%;
}

.sidebarcontent {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.sidenav {
  border-right: 0.75px solid #ececec;
}

.navbar {
  background-color: #bfba87;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

/* DINING PAGE CSS */

.btn {
  margin: 5px;
}
.btn-table {
  border-style: dotted;
  border-radius: 20px 20px 20px 20px;
  margin: 5px;
  width: 150px;
  height: 150px;
  font-size: 18px;
  text-decoration: none;
  white-space: normal;
  word-wrap: break-word;
  position: relative;
  float: left;
}
.btn-table:hover {
  width: 150px;
  height: 150px;
  font-size: 20px;
  text-decoration: none;
  white-space: normal;
  word-wrap: break-word;
  transition-duration: 0.4s;
}
/* AVAILABLE */
#btn-table-1 {
  background-color: #00fa03;
  color: #ffffff;
}
/* Occupied */
#btn-table-2 {
  background-color: #ffa500;
  color: #ffffff;
}
/* Unavailable */
#btn-table-3 {
  background-color: #808080;
  color: #ffffff;
}

#status1 {
  content: "Available";
}
#status2 {
  content: "Occupied";
}
#status3 {
  content: "Unavailable";
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline;
}
.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

/* TABLES CARD (NEW) */

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.box p {
  color: hsl(229, 6%, 66%);
}

.box {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  padding: 30px;
  margin: 20px;
  width: 70% !important;
  height: 165px !important;
  white-space: nowrap !important;
  transform-origin: center;
  transition: transform 0.2s, filter 0.5s ease-out;
  background-color: #fbfbfb;
}

.box:hover {
  transform: scale(1.1);
  background-color: #fbfbfb;
}

.imgCard {
  float: right;
  width: 20% !important;
}

#box-1 {
  border-top: 3px solid #72a411;
}
#box-2 {
  border-top: 3px solid hsl(0, 78%, 62%);
}

#box-3 {
  border-top: 3px solid var(--orange);
}

h2 {
  font-size: 20px !important;
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

.oc {
  color: hsl(0, 78%, 62%);
  font-weight: 450;
}

.res {
  color: var(--orange);
  font-weight: 450;
}

.av {
  color: #72a411;
  font-weight: 450;
}
.tablesCon {
  display: flex;
  width: 100%;
  height: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
  height: 30rem !important;
}

.tables {
  padding: 1%;
  margin-bottom: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  width: 100% !important;
  height: 100% !important;
  margin-top: 10%;
}
