<!--PRODUCTS TABLE-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <title>Inventory Management System</title>
</head>

<body>
    <div class="sidenavbar">

        <mat-sidenav-container autosize>
            <mat-sidenav class="sidenav" #drawer mode="side" opened="false">
                <img src="../assets/logo.png" class="inventory-logo">

                <button mat-button class="sidebarcontent" routerLink="/order"><mat-icon class="dashboard">dashboard</mat-icon> Orders</button>
                <button mat-button style="margin-left: 34px;" class="sidebarcontent" routerLink="/pos" ><mat-icon class="stocks">inventory_2</mat-icon> Point Of Sale</button>
               <!--  <button mat-button class="sidebarcontent" >	<mat-icon class="itemHistory">print</mat-icon>Generate Report</button> -->
            </mat-sidenav>
            <mat-sidenav-content>
                <div>
                    <mat-toolbar color="primary" class="navbar">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
                          <mat-icon>menu</mat-icon>
                      </button>
                        <span>POINT OF SALE</span>
                        <span class="example-spacer"></span>

                        <h3 class="admin-name">Hello! <span id="name"></span></h3>

                        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                          <mat-icon>person</mat-icon>
                      </button>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" type="button" >
                        <mat-icon>logout</mat-icon>
                    </button>
                    </mat-toolbar>
                </div>
                
                   <!-- <div class="btns"> -->
                        <!-- <button class="add-button"  onclick="window.print();" mat-flat-button><mat-icon class="aligned-with-icon">add_circle_outline</mat-icon> Print Orders</button> -->
                        <!-- <button class="view-archives"   matBadgeColor="warn"   mat-flat-button><mat-icon class="aligned-with-icon">folder_open</mat-icon><span class="aligned-with-icon"> Archives </span></button> -->
                        
                      <!-- </div>     -->
                <mat-form-field class="search"autocomplete="off">
                  
                    <mat-label search><mat-icon class="aligned-with-icon1"  style="font-size: 25px;">search</mat-icon><span class="iLabel">Search</span></mat-label>
                    <input  autocomplete="off" matInput class="searchField"  (keyup)="applyFilter($event)" >
                </mat-form-field>

                <div class="card-main" >  
                  
    <div class="mat-elevation-z8 tableSize" >
      
        <div class="print-container">

<div class="mat-elevation-z8 head">
  <table class="" mat-table [dataSource]="codeTableDataSource">

    <!-- ID -->
    <ng-container matColumnDef="Column1" hidden class="thead">
      <th class="th" mat-header-cell *matHeaderCellDef> No. </th>
      <td  class="td" mat-cell *matCellDef="let element"> {{element.list_id}} </td>
    </ng-container>

    <!-- CODE -->
    <ng-container matColumnDef="Column2" class="thead">
      <th class="th" mat-header-cell *matHeaderCellDef> Receipt Code </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.list_order_code}} </td>
    </ng-container>

    <!-- AMOUNT-->
    <ng-container matColumnDef="Column3" class="thead">
      <th class="th" mat-header-cell *matHeaderCellDef> Receipt Amount </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.list_order_total | currency : 'PHP': 'symbol-narrow' : ''}} </td>
    </ng-container>

    <!-- DATE -->
    <ng-container matColumnDef="Column4" class="thead">
      <th class="th" mat-header-cell *matHeaderCellDef> Date </th>
      <td class="td" mat-cell *matCellDef="let element"> {{element.list_order_date  | date: 'MMM dd, yyyy'}} </td>
    </ng-container>

    <!-- ACTION -->
    <ng-container matColumnDef="Column5" class="thead">
      <th class="th" mat-header-cell *matHeaderCellDef> Action </th>
      <td class="td" mat-cell *matCellDef="let element"> 
        <div class="actBtn">
          <button mat-raised-button class="view-button"   (click)="detailModal(element.list_order_code);"><mat-icon class="archiveIcon">remove_red_eye</mat-icon>Details</button>
          <!-- <button mat-raised-button class="archive-button"   (click)="delOrder(order.list_id);"><mat-icon class="archiveIcon">archive</mat-icon>Archive</button> -->
       </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>




          </div>
  
      <div class="div-print-item">
        <!-- <button onclick="window.print();"><i class="fas fa-print"></i>&nbsp; Print</button> -->
      </div>
    </div>
    <!-- <div>
      <div class="search-input">
        <label for="search"><i class="fas fa-search"></i>&nbsp; <input id="search" name="search" placeholder="search"></label>
      </div>
      <div class="div-print-item">
        <button><i class="fas fa-print"></i>&nbsp; Print</button>
      </div>
    </div> -->
  </div>
  
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

    
<!--invoice table -->

  <!--order table -->


  
  <!-- Details Modal -->
  <ng-template class="detailsDialog" #DetailsDialog>
<div class="mat-elevation-z8 tableSizeDetails" >
      
        <div class="print-container">
            <table class="head">
              <thead>
                <tr class="thead2">
  
                  <th id="th">Receipt Code</th>
                  <th id="th">Product Name</th>
                  <th id="th">Quantity</th>
                  <th id="th">Price</th>
  
                </tr>
              </thead>
  
  
              <tbody>
                <tr *ngFor="let details of details">
  
              
                  <td class="td">
                    {{details.order_code}}
                  </td>
                  <td class="td"> 
                    {{details.product_name}}
                  </td>
                  <td class="td"> 
                    {{details.quantity}}
                  </td>

                  <td class="td"> 
                    {{details.price | currency : 'PHP': 'symbol-narrow' : ''}}
                  </td>
                 
  
                </tr>
              </tbody>
            </table>
          </div>
  
      <div class="div-print-item">
        <!-- <button onclick="window.print();"><i class="fas fa-print"></i>&nbsp; Print</button> -->
      </div>
    </div>
  </ng-template>
</body>


  
  
  
  