.tablesCon {
  display: flex;
  width: 100%;
  height: 25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
  height: 30rem !important;
}

.tables {
  padding: 1%;
  margin-bottom: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  width: 100% !important;
  height: 50rem !important;
  overflow-y: scroll;
}

.tables::-webkit-scrollbar {
  width: 0.3em;
}

.tables::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}

.tables::-webkit-scrollbar-thumb {
  background-color: #83a73b;

  border-radius: 1em;
}

.btn {
  margin: 5px;
}
.btn-table {
  pointer-events: none;
  border-style: dotted;
  border-radius: 20px 20px 20px 20px;
  margin: 5px;
  width: 150px;
  height: 150px;
  font-size: 18px;
  text-decoration: none;
  white-space: normal;
  word-wrap: break-word;
  position: relative;
  float: left;
}
.btn-table:hover {
  cursor: default;
  font-size: 20px;
  text-decoration: none;
  white-space: normal;
  word-wrap: break-word;
  transition-duration: 0.4s;
}
/* AVAILABLE */
#btn-table-1 {
  background-color: #72a411;
  color: #ffffff;
}
/* Occupied */
#btn-table-2 {
  background-color: #ffa500;
  color: #ffffff;
}
/* Unavailable */
#btn-table-3 {
  background-color: #808080;
  color: #ffffff;
}

#status1 {
  content: "Available";
}
#status2 {
  content: "Occupied";
}
#status3 {
  content: "Unavailable";
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline;
}
.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

/* TABLES CARD (NEW) */

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.box p {
  color: hsl(229, 6%, 66%);
}

.box {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  padding: 30px;
  margin: 20px;
  width: 70% !important;
  height: 165px !important;
  white-space: nowrap !important;
}

.imgCard {
  float: right;
  width: 20% !important;
}

#box-1 {
  border-top: 3px solid #72a411;
}
#box-2 {
  border-top: 3px solid hsl(0, 78%, 62%);
}

#box-3 {
  border-top: 3px solid var(--orange);
}

h2 {
  font-size: 20px !important;
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}

.oc {
  color: hsl(0, 78%, 62%);
  font-weight: 450;
}

.res {
  color: var(--orange);
  font-weight: 450;
}

.av {
  color: #72a411;
  font-weight: 450;
}
