
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cocolime Asian Cuisine</title>
<meta name="description" content="">
<meta name="author" content="">



<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<!-- <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Stylesheet
    ================================================== -->
<!-- <link rel="stylesheet" type="text/css"  href="css/style.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="css/nivo-lightbox/default.css"> -->
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top" style=" z-index:999999; background-color: #222; width: 100%; position: fixed; display: flex; flex-direction: row; justify-content: center;">
  <div class="container"> 
   <div class="navLeft" style="display: flex; flex-direction: row;">
    <div class="navbar-header">
   
        <a class="navbar-brand page-scroll" (click)="onClick('page-top')" >Cocolime</a> </div>
      
   </div>   
    <!-- Brand and toggle get grouped for better mobile display -->
   
    <!-- Collect the nav links, forms, and other content for toggling -->
  <div style="float: right;"> 
      <ul class="nav navbar-nav navbar-right" style="display: flex; flex-direction: row;">
        <li><a (click)="onClick('about')" class="page-scroll">About</a></li>
        <li><a (click)="onClick('restaurant-menu')"class="page-scroll">Promos</a></li>
        <li><a (click)="onClick('portfolio')" class="page-scroll">Menu</a></li>
        <li><a (click)="onClick('call-reservation')" class="page-scroll">Tables</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">

          <div class="intro-text">
              
            <h1>Cocolime</h1>
            <br>
            <br>
            <br>
            <p>Asian Cuisine Restaurant</p>
            <a (click)="onClick('about')"  class="btn btn-custom btn-lg page-scroll" style="width: 30%; color: white;">Welcome</a> </div>

      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about">
  <div class="container">
   
      
      
        <div class="about-text">
          <h2>Our Restaurant</h2>
          <hr>
          <p>For several times I already had lunch with friends in Cocolime Specialty Asian Cuisine. This restaurant is located in Subic Bay Freeport Zone near Rizal Highway, and is almost attached to Harbor point Mall.</p>
          <p>Cocolime in Subic Bay is really a nice place to be and apart from the nice ambiance, good food and excellent service the prices are very affordable, something that is important as well. Rightly Cocolime is rated 4 stars as I saw on some sites. Oh by the way, Cocolime is open at 10AM - 2PM and 5PM - 10PM daily.</p>
        </div>
 
   
  </div>
</div>
<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Set Menu For Ten</h2>
      <hr>
      <p>These are Cocolime's Specialty for the whole family.</p>
    </div>
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">SET A - P3,550</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Pochero Beef Soup </div>
            </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Sizzling Pork Sisig </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Pinakbet </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Grilled Squid </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name"> 2 Seafood Pancit Canton </div>
            </div>
            <div class="menu-item">
              <div class="menu-item-name"> 10 Plain Rice </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">SET B - P4,300</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Fried Spring Rolls </div>
            </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Poochero Beef Soup </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 3 Pineapple Rice </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Thai BBQ Chicken </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Shrimp Tempura </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Grilled Squid </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Seafood Rice Noodle </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">SET C - P4,750</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Fried Spring Rolls </div>
            </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Poochero Beef Soup </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Sizzling Pork Sisig </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Kare - Kare </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Crispy Pata (Regular) </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Grilled Squid </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Pinakbet / Chopsuey </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 10 Plain Rice </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">SET D - P5,000</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Fried Spring Rolls </div>
            </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Poochero Beef Soup </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Sweet & Sour Fish Fillet </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Humba </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Mixed Vegetable Oyster </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Shrimp Tempura </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 2 Crispy Pata (Regular) </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> 10 Plain Rice </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">ADD-ONS</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Buko Pandan - P550 </div>
        </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Main Menu</h2>
      <hr>
      <p>Indulge yourselves with our Asian Cuisine Specialty Dishes</p>
    </div>
  </div>
  <div class="container">
  
    <div class="row">
      <div class="portfolio-items">
        <div class="breakfast">
          <div >
         <div style="display: flex; flex-direction: row;">
        
            <div style="display: flex; flex-direction: column; white-space: nowrap; padding: 10%;">
                <div class="hover-text">
                    <h4>Rice Suprise</h4>
          Bagoong Rice .............................................................. 180
          <br>
          (Rice cooked in Shrimp Paste topped with <br>
          Sweet Pork, green mangoes 5 egg strips.)
          <br>
          <br>
          Pineapple Rice ............................................................ 240
          <br>
          (Flavored with sweetness of pineapple 5 <br>
          succulent shrimps. Truly a Tropical delight!)
          <br>
          Nasi Goreng ................................................................ 180
          <br>
    
          <h3>Per cup order</h3>
          Japanese Fried Rice .................................................... 65
          <br>
          Plain Rice ................................................................... 180
          <br>
          Half Plain Rice ........................................................... 180
          <br>
          Garlic Rice .................................................................. 180
          <br>
          <br>
          <br>
          
          <h4>From the Grill</h4>
          <h5>(please allow 10-15 mins)</h5>
Thai BBQ Chicken............................................................................  290
<br>
Oriental Liempo ................................................................................ 295
<br> 
Thai BBQ $ Liempo) .......................................................................295
<br>
inihaw na Liempo ........................................................................... 295
<br>
Chicken Inasal(3pcs) .................................................................... 295
<br>
Grilled Assorted Seafoods ..................................................... 390
<br>
Grilled Tuna Panga ........................................................................ 360
<br>
Griled Tuna Belly ............................................................................. 420
<br>
Grilled Squid ....................................................................................... 275
<br>
Grilled Boneless Bangus ......................................................... 260
<br>
<br>
<br>
<br>

<h4>For Starters</h4>
     
Fried Spring Rolls ............................................................................ 170
           <br>
           Chilli Cheese Sticks ....................................................................... 140
           <br>
           Chilli Chicken Wings(4pcs) ...................................................... 210
           <br>
           Kani Salad ............................................................................................... 150
           <br>
           Fresh Garden Salad ....................................................................... 150
           <br>
           Oriental Beef Salad ......................................................................... 220
           <br>
           Chicharon Bulaklak ..........................................................................175
<br>
<br>
<br>
<br>
           <h4>FSoup for a soul</h4>
           Pochero Beef Soup ............................................................... 420
           <br>
           Tiyan ng Bangus Sinigang .............................................. 280
           <br>
           Chicken Binakol ....................................................................... 280
           <br>
           Sinigang na Baboy.................................................................. 295
           <br>
           Squash Soup (good for 2) ................................................ 120
           <br>
           Kani Corn Soup (good for 2) .......................................... 120  
           <br>
          <br>
          
           


                  </div>
            </div>
            <div style="display: flex; flex-direction: column; white-space: nowrap; padding: 10%;">
            <div class="hover-text">
                <h4>Meal Platter</h4>
        Beef tenderloin  ........................................................................... 375
        <br>
        Sizzling Bulalo Steak ............................................................. 395
        <br> 
        Asian Beef Ribs .......................................................................... 320
        <br>
                  
        <br>
        Coriander Prawns ..................................................................... 380
        <br>
        Shrimp Tempura ........................................................................ 440
        <br>
        Shrimp Roll .................................................................................... 390
        <br>(5pcs, Contains Pork)
        <br>
        Nilasing na Hipon .......................................................................330
        <br>
        Pinakbet Stew ................................................................................220
        <br>
        Mixed Vegetable Oyster.........................................................220
        <br>
        Beef Kare kare ..............................................................................420
        <br>
        Sea Food Kare kare .................................................................330
        <br>
        Vegetable Kare kare ...............................................................260
        <br>
        Shrimp Fu Yong ...........................................................................240
        <br>
        <br>
        Laing...... ..........................................................................................170
        <br>
        Adobong Kangkong...........................................................170
        <br>
        Bicol Express ............................................................................220
        <br>
        Sweet & Sour fish Fillet  .................................................. 290
        <br>
        Calamares ................................................................................ 240
        <br> 
        Sizzling Tiyan ng Bangus ............................................. 240   
        <br>
        Fish Tausi ................................................................................... 280
        <br>
        Crispy Fried Tilapia ........................................................... 160
        <br>
        Daing na Bangus .................................................................250
        <br>
        Fish Tofu Black Bean .......................................................270
        <br>
        Tofu Steak ..................................................................................180
        <br>
        Tofu w/ Shiitake Mushroom........................................180
        <br>
        <br>
              
        <h3>Asian Flavors</h3>
Crispy Binagoongan  .................................................................... 280
<br>
Crispy Lechon Kawali ................................................................. 295
<br>
Sizzling Pork Sisig ......................................................................... 200
<br>
Humba (Sweet Pork) .................................................................. 295
<br>
Crispy Pata Regular (1kilo) ..................................................... 549
<br>
Garlic Chicken Basil  .................................................................... 210
<br>
Fried Chicken Chinese Style .............................................. 310
<br>
Yellow Chicken Curry ............................................................... 240
<br>
Chicken Lollipop (4pcs) .......................................................... 220
<br>
Sizzling Chicken Sisig ............................................................... 210
<br>
Fried Chicken Fingers ............................................................... 220
<br>
<br>
<br>

<h4>Oodle of Noodle</h4>
Sea Food Pancit Canton ..................................................... 145
<br>
Pancit Canton with asstd. Meat .................................... 130
<br>
Pancit Bihon Guisado ............................................................ 130
<br>
Seafood Rice Noodle............................................................. 160
<br>
 
      
                </div>
                
        </div>
        </div>   
              
          </div>
        </div>
       

       
      </div>
    </div>
  </div>
</div>

<!-- Call Reservation Section -->
<div id="call-reservation" class="text-center" style="position: relative; margin-top: -10%;">
  <div class="container">
    <h2>Reserve Available Tables</h2>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title text-center" >
      <h2 style="color: #222; margin-top: 6%;">Tables</h2>
      <hr style="margin-top: -2%;">
      
     
    </div>


     
        
        
 
  </div>
</div>

<div class="tablesCon">
   
    <div class="tables">

        <div *ngFor="let tables of tables" style="display: block;">


                   
            <div *ngIf="tables?.status_id == 1 ">
            <div id ="box-{{ tables?.status_id }}" class = "box" (click)="reserveForm(tables); reserveModal(contentReserve);">
            <h2>    {{ tables?.table_name }} </h2>
              
                <div *ngIf="tables?.status_id == 1">
                  <p>  Availability:  <span class="av"> Available </span></p>
                </div>
                <p>Capacity: {{tables?.table_capacity}}</p>
                <p id="status{{ tables?.status_id }}"></p>
            </div>
            </div>
            <div *ngIf="tables?.status_id == 3 ">
              <div id ="box-{{ tables?.status_id }}" class = "box" disabled>
              <h2>    {{ tables?.table_name }} </h2>
                
                  <div *ngIf="tables?.status_id == 3">
                    <p>  Availability:  <span class="res"> Reserved </span></p>
                  </div>
                  <p>Capacity: {{tables?.table_capacity}}</p>
                  <p id="status{{ tables?.status_id }}"></p>
              </div>
              </div>
            <div *ngIf="tables?.status_id == 2">
                <div id ="box-{{ tables?.status_id }}" class = "box" disabled>
                   <h2> {{ tables?.table_name }} </h2>
              
                     <p>  Availability: <span class="oc"> Occupied </span></p>
                    <p id="status{{ tables?.status_id }}"></p>
                    <p>Capacity: {{tables?.table_capacity}}</p>
                </div>
                </div>
           
        </div> 
    </div>

</div>


</div>

<br>
</div>
<div id="footer">
   
  <div class="text-center" style="display: flex; flex-direction: row;">
    <div class="col-md-4">
      <h3>Address</h3>
      <div class="contact-item">
        <p>Rizal Hwy 2222</p>
        <p>SSubic, Philippines</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Opening Hours</h3>
      <div class="contact-item">
        <p>Mon-Sun: 11:00 AM - 2:00 PM</p>
        <p>Mon-Sun: 5:00 PM - 10:00 PM</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Contact Info</h3>
      <div class="contact-item">
        <p>Phone: (047) 252 2412</p>
        <p>Email: cocolimerestaurant@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="fluid text-center copyrights">
    <div class="">
      <div class="social" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
       
      </div>
      <p>&copy; 2016 Touché. All rights reserved. Designed by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/SmoothScroll.js"></script> 
<script type="text/javascript" src="js/nivo-lightbox.js"></script> 
<script type="text/javascript" src="js/jquery.isotope.js"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="js/contact_me.js"></script> 
<script type="text/javascript" src="js/main.js"></script>

<!--REQUEST RESERVATION MODAL-->
<ng-template #contentReserve let-modal class=" modalFade">
  <mat-dialog-content>
    <div class="modal-header">
      <h4 class="modal-title"><b>Reserve a Table</b></h4>
      <button type="button" class="close" aria-label="Close" mat-dialog-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="table_name">First Name</label>
            <input name="table_name" type="text" class="form-control" id="first_name" placeholder="First Name" [(ngModel)]="first_name" required>
          </div>
          <div class="form-group col-md-6">
            <label for="table_name">Last Name</label>
            <input name="table_name" type="text" class="form-control" id="last_name" placeholder=" Last Name" [(ngModel)]="last_name" required>
          </div>
          <div class="form-group col-md-6">
            <label for="table_name">Phone Number</label>
            <input name="table_name" type="text" class="form-control" id="phone_no" placeholder="Phone Number" [(ngModel)]="phone_no" required>
          </div>
        </div>

        <h1>Reservation Details</h1>
        <hr>
        
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="appt">Select a time:</label>
            <input  class="form-control" type="time" id="appt" name="appt"  [(ngModel)]="time" required>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field appearance="outline"  >
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="date" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
   
    </div>
    </mat-dialog-content>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" mat-dialog-close>Close</button>
      <button type="submit" class="btn btn-primary" (click)="addReservation()" mat-dialog-close>Confirm</button>
    </div>
  </ng-template>


  <ng-template #confirmation let-modal class=" modalFade">
    <mat-dialog-content>
      <div class="modal-header">
        <h4 class="modal-title">
          Confirmation
       
        </h4>
       
        <!-- <button type="button" class="close" aria-label="Close" mat-dialog-close> -->
          <span aria-hidden="true">&times;</span>
        <!-- </button> -->
      </div>
      <div class="modal-body">
        <p> A 4 character code has sent to the entered phone number to confirm your reservation please type the 4 character code </p>
        <p> <span style="font-weight: bold; font-size: 15px;">  Time Remaining: <span style="color: red;"> {{timeLeft}} </span> </span> </p>
       
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="table_name">Code</label>
            <input name="table_name" type="text" class="form-control" id="first_name" placeholder="xxxx" [(ngModel)]="resCode" required>
          </div>
      
        </div>

        
   
    </div>
          
      </mat-dialog-content>
      <div class="modal-footer" style="display: flex; flex-direction: column;">
        <p><i>If your initial reservation hasn't been confirmed, you need 24hrs to be able to send another initial reservation</i></p>
        <button type="submit" style="float: right;" class="btn btn-primary" (click)="confirmRes()">Confirm</button>
      </div>
    </ng-template>