<mat-sidenav-container autosize>
    <!--Nav Bar-->
    <mat-sidenav color="primary" class="mat-elevation-z12" #drawer mode="side" opened="true">
  
      <img src="./assets/faveIcon/cocolime.png" style="width: 100%" class="">
  
      <!--<button mat-button disabled class="sidebarcateg mat-elevation-z2">&nbsp; REPORTS</button>
      <button mat-button class="sidebarcontent" routerLink="/home" matTooltip="Dashboard"><mat-icon>dashboard</mat-icon>&nbsp; Dashboard</button>-->
  
      <button mat-button disabled class="sidebarcateg mat-elevation-z2">&nbsp; MANAGE</button>
      <button mat-button class="sidebarcontent" routerLink="/pms-employee" matTooltip="Employees"><mat-icon>hail</mat-icon>&nbsp; Employees</button>
      <button mat-button class="sidebarcontent" routerLink="/pms-timekeeping" matTooltip="Time Keeping"><mat-icon>schedule</mat-icon>&nbsp; Time Keeping</button>
      <button mat-button class="sidebarcontent" routerLink="/pms-attendance" matTooltip="Attendance"><mat-icon>checklist</mat-icon>&nbsp; Attendance</button>
       <button mat-button class="sidebarcontent" routerLink="/pms-wages" matTooltip="Wages"><mat-icon>attach_money</mat-icon>&nbsp; Wages</button>
      <button mat-button class="sidebarcontent" routerLink="/pms-addition" matTooltip="Additions"><mat-icon>add_circle_outline</mat-icon>&nbsp; Additions</button>
      <button mat-button class="sidebarcontent" routerLink="/pms-deduction" matTooltip="Deductions"><mat-icon>remove_circle_outline</mat-icon>&nbsp; Deductions</button>
      <!--<button mat-button class="sidebarcontent" routerLink="/salary" matTooltip="Salary"><mat-icon>paid</mat-icon>&nbsp; Salary</button>--> 
  
      <!--<button mat-button disabled class="sidebarcateg mat-elevation-z2">&nbsp; PRINTABLES</button>-->
      <!-- <button mat-button class="sidebarcontent" routerLink="/payroll" matTooltip="Payroll"><mat-icon>payments</mat-icon>&nbsp; Payroll</button> -->
      <!--<button mat-button class="sidebarcontent" routerLink="/dailytimerecord" matTooltip="DTR"><mat-icon>list_alt</mat-icon>&nbsp; DTR</button>-->
  
      <!-- <button mat-button disabled class="sidebarcateg mat-elevation-z2">&nbsp; ADMINISTRATION</button>
      <button mat-button class="sidebarcontent" routerLink="/users" matTooltip="Users"><mat-icon>person</mat-icon>&nbsp; Users</button>
      <button mat-button class="sidebarcontent" routerLink="/master" matTooltip="Control Panel"><mat-icon>admin_panel_settings</mat-icon>&nbsp; Control Panel</button> -->
    </mat-sidenav>
  
    <!--Contents-->
    <mat-sidenav-content>
      <mat-toolbar class="mat-elevation-z12" color="primary" id="matToolbar">
        <button mat-icon-button class="example-icon" aria-label="" mat-button (click)="drawer.toggle()" matTooltip="Hide Sidebar">
          <mat-icon>menu</mat-icon>
        </button>
        &nbsp;
        <h2>Cocolime Daily Time Record Management System</h2>
        &nbsp;
        <span style="flex: 1 1 auto;"> </span>
        <h3 class="hello">Hello! &nbsp; {{user}}  </h3>
        <button mat-icon-button class="" aria-label="" matTooltip="Account Settings">
          <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button class="" aria-label="" matTooltip="Logout">
          <mat-icon (click)="logout()">logout</mat-icon>
        </button>
      </mat-toolbar>
  
      <router-outlet>
      </router-outlet>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
