
<body style="overflow: hidden;">
    <div style="margin-bottom: 100px;">
    </div>
    <div class="center">
        <div class="card" (click)="toInventory()">
            <h1 class="icon" style="margin: auto;width: 20%;margin-top: 50px;"><i class="fas fa-warehouse"></i></h1>
            <div class="container">
                <h1>Inventory</h1>
            </div>
        </div>
        <div class="card" (click)="toMenu()">
            <div class="container">
                <h1 class="icon" style="margin: auto;width: 20%;margin-top: 50px;"><i class="fas fa-utensils"></i></h1>
                <h1>Menu</h1>
            </div>
        </div>
    </div>
</body>
