<mat-card>
  <mat-card-title class="mat-elevation-z8">
    <br />
    <!--Name-->
    <h1>Deduction Management</h1>
    <!--ToolBar-->
    <mat-toolbar class="" style=" background-color: #706e5a">
      <span style="flex: 1 1 auto;"></span>
      <!--Search Bar-->
      <div style="height: 100% !important; width: 25%; padding: 0px !important; color: white; background-color: #706e5a;">
        <mat-form-field appearance="fill" style="font-size: 16px; height: 100% !important; width: 100%;" matTooltip="Search">
          <mat-label style="font-size: large;color: white;" floatLabel="never">
            Search
          </mat-label>
          <!--(keyup)="applyFilter($event)"-->
          <input #input matInput><mat-icon style="font-size: 24px;" matSuffix>
            search
          </mat-icon>
        </mat-form-field>

      </div>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>

    <mat-grid-list cols="2" rowHeight="100vh">
      <ng-container *ngFor="let dedInfoTable of dedInfoTable">
        <mat-grid-tile>
          <mat-card>
            <mat-card-title>
              <br />
              <p>{{dedInfoTable.ded_name}}</p>
            </mat-card-title>
            <mat-card-content>
              <table style="width:100%">
                <tr>
                  <th>Emp Name</th>
                  <th>Deduction Rate</th>
                </tr>
                <ng-container *ngFor="let empInfoTable of empInfoTable">
                  <tr>
                    <td><p>{{empInfoTable.emp_firstname}}&nbsp;{{empInfoTable.emp_lastname}}</p></td>
                    <td>
                      <input placeholder="{{getDedRate(dedInfoTable.ded_name, empInfoTable.emp_no)}}"
                             type="text"
                             (keyup)="updateRate(dedInfoTable.ded_name, empInfoTable.emp_no, $event)"
                             matInput
                             matTooltip="{{getDedRate(dedInfoTable.ded_name, empInfoTable.emp_no)}}">                        
                    </td>
                  </tr>
                </ng-container>                               
              </table>
            </mat-card-content>
          </mat-card>                        
        </mat-grid-tile>         
      </ng-container>
    </mat-grid-list>
   
  </mat-card-content>
</mat-card>

