<p style="font-size: 30px; font-weight: bold;" >Deduction Form </p><br>
<div class="deducName">
  <label style="font-size: 20px;">Deduction Name</label><br>
  <input type="text" style="width: 400px; height: 50px; font-size: 20px;">
</div>
<br>
<div class="desc">
  <label style="font-size: 20px;">Description</label><br>
  <input type="text" style="width: 400px; height: 50px; font-size: 20px;  ">
</div>
<br>
<button  style="background-color: #4A5D23; padding: 10px 20px; border-radius: 10px;border: none; color: white; margin: 20px 40px;font-size: 20px;">Save</button>
<button style="background-color: gray; padding: 10px 20px; border-radius: 10px;border: none; color: white;  font-size: 20px;">Cancel</button>
