<mat-card>

  <mat-card-title class="mat-elevation-z8">
    <br />
    <h1>Systems Dashboard</h1>
  </mat-card-title>

  <mat-card-content style="justify-content: center;">

    <!--TESTING-->

    <!--<p>
      {{currentDate}}<br />
      {{month}}<br />
      {{monthinNum}}<br />
      {{year}}<br />
      {{monthintText}}<br />
      {{month_year}}<br />
      {{dateIndex}}<br />
      {{empDami}}<br />
    </p>-->

    <!--Calendar-->

    <mat-card>
      <mat-card-content style="width: 100vh; margin: auto">
        <mat-grid-list style="height:100px !important;margin: 16px;" cols="7" rowHeight="1:1" gutterSize="8px">
          <ng-container *ngFor="let weekPrep of weekPrep">
            <mat-grid-tile>
            </mat-grid-tile>
          </ng-container>
          <ng-container *ngFor="let dayArray of dayArray">
            <mat-grid-tile class="mat-elevation-z4" style="background-color : lightgrey">
              {{dayArray | date: 'E d MMMM'}}
            </mat-grid-tile>
          </ng-container>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>

    <!--Squares-->

    <mat-grid-list cols="4" rowHeight="2:1" gutterSize="8px" style="margin: 16px;">
      <mat-grid-tile style="background-color : lightgrey">
        <p> Number of Employees {{empDami}} </p>
      </mat-grid-tile>
      <mat-grid-tile style="background-color : lightgrey">
      </mat-grid-tile>
      <mat-grid-tile style="background-color : lightgrey">
      </mat-grid-tile>
      <mat-grid-tile style="background-color : lightgrey">
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>     

</mat-card>


